/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 1200px) {
 	body{min-width:995px;}
    .main_select_box{margin-top: 3.5em;}
    .main_form_btn{font-size: 30px;}
    .show_check_box{padding: 5px 0;}



}

@media only screen and (max-width: 992px) {
 body{min-width:748px;}
  .opportun_desk{
    font-size: 15px;
    letter-spacing: -1px;
  }
  .main_select .active_option{
    padding:9px 10px;
     font-size: 15px;
     letter-spacing: -0.5px;
  }
    .active_option:after{
      width: 39px;
      height: 39px;
    }
    input[type=text]{
    font-size: 15px;
    padding: 9px 10px;
  }
  .promise_img_bl{
    width: 65%;
  }
  .indie{font-size: 20px;}
  .main_form_btn{font-size: 20px;}
  .footer_nav_list > li > a{
    padding: 10px 5px;
  }
  .show_label{font-size: 13px;line-height: 1.7;}
    .show_label:before{margin-right: 0;}
  
}

@media only screen and (max-width: 767px) {
 body{min-width:480px;}
 #content{padding-top: 30px;}
  .login_btn, .express_btn{float: none;}
    .main_select .active_option{
    padding:9px 5px;
    letter-spacing: -1px;
  }
  .header_bottom_right{padding: 10px 0 10px;}
  .main_select_box{margin-top: 0;}
  .norton_lk{display: none;}
  .header_top{background-color: #fff;}
  .header_top p{display: none;}
  .opportun_list li{padding: 6px 0;}
  .main_form_btn{margin-bottom: 20px;}
  .primary_text{padding-top: 20px;}

  .mb62{margin-bottom: 20px;}  
  .advantages_list li{font-size: 15px;}
  .advantages_list li:last-child{padding:5px 10px 10px 41px;}
  .promise_img_bl{
    position: absolute;
    top:-32px;
    right:0;
    width: 20%;
  }
.resp_dnone{display: none;}
.footer_nav_list > li > a{padding: 10px 8px;}
.promise_bl_type{padding: 20px 0 0;}
.promise_bl, .primary_bl, .security_bl{padding: 42px 0 0;}
.pt30{padding-top: 0;}
.rates_img_bl{width: 40%;margin: 0 auto;}
.contact_img_bl{width: 25%;}
.contacts_form .main_form_btn{width:100%;}
.contacts_bl{padding: 0 0 20px;}
.title1, .title3, h3{margin-top: 10px;}
.footer_copyright_right, .footer_copyright_left{float: none;}
.control_bl, .control_label, .control_type_bl{float: none;width: 100%;}
input[type="text"].w50:first-child{margin-right: 4px;}
.watch_box{margin-top: 0;}
.installment_title, .protected_title{padding-top: 0;}
.protected_box{top:.5em;left:0;}

}



@media only screen and (max-width: 479px) {
 body{min-width:300px;}
  .main_select_left, .main_select_right{width: 100%;}
  h1{font-size: 28px;}
  h2, h3, h4, .main_form_btn{font-size: 24px;}
  .col-xs-6, .security_icon_box{width: 80%;}
  .promise_img_bl{top:-20px;right:10px;}

  .footer_nav_list{margin-right: 0;float: none;}
  .footer_nav_list > li{
    float: none;
    width: 100%;  
  }
  .footer_nav_list > li > a{
    padding: 5px 10px;
  }
  .install_form .main_select .active_option,
  .install_form input[type="text"]{
    padding: 5px 5px;
  }
  .install_form .active_option:after{
    width: 32px;
    height: 32px;  
  }
  .show_check_box{
    padding: 4px 0 3px;
  }
    .show_label{
      font-size: 10px;
      line-height: 2;
    }
    .show_label:before{margin-right: 0;}
    .w33, input[type="text"].w50,.w60{float: none;width: 100%;margin-bottom: 8px;}
    .w80{width: 60%;}
    .w20{width: 40%;}
}


