@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/jquery.arcticmodal.css";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700&subset=latin,cyrillic-ext);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height: 1.42857143;
  color:#636363;
  background-color: #fff;
 
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}
p, li, a{
    font: 15px/1.75em 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

/*----------------------> Links And buttons <------------------*/
a {
 	color: #428bca;
    text-decoration: none;
}
a:hover, a:focus{
  color: #2a6496;
  text-decoration: underline;
}
button[class*="_btn"],
a[class*="_btn"]{
  display: inline-block;
  cursor: pointer;
  border:none;
  outline: none;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}
.al_just{text-align: justify;}
.txt_dec{text-decoration: underline;}
.it, em{font-style:italic}
.let{letter-spacing:1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid,
.val_mid_childes>*{vertical-align: middle;}
.bold{font-weight: 700;}
.middle{font-weight: 600;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}
.p_t_zero{ padding-top:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}
/*---------------------->Basic color <--------------------*/
.white{color:#fff;}
.black{color: #000;}
.black1{color: #333;}
.red{color: #ff5a00;}
.blue{color: #00a8de;}
.orange{color: #ff5a00;}
.bg_color1{background-color: #006e94;}
.bg_color2{background-color:#f0f0f0;}
.bg_color3{background-color:#fff;}
.bg_color4{background-color: #00a8de;}

/*----------------------> Basic fonts <------------------*/

.open_s{
	font-family: 'Open Sans', sans-serif;
}

/*----------------------> Basic classes <------------------*/

.fz_16{
  font-size: 16px;
  line-height: 1.23;
}
/*------------header---------*/
.header_top{
	background-color: #eee;
	font-size: 10px;
}
#content{
	background: url(../images/border_top_shadow.png) center top no-repeat #f2f2f2;
}

.header_top p{
	margin: 4px 0;
	font-size: 10px;
}
.header_bottom_right a, .header_bottom_right button{
	font-size: 15px;
	line-height: 1.75em;
	color: #fff;
	font-weight: 600;
}
.header_bottom_right{
	padding: 14px 0 37px;
}
.express_btn{
	float: right;
	background-color: #087cc4;
    margin: 5px 10px 0 12px;
    border: medium none;
    border-radius: 4px;
    padding: 2px 7px;
    display: inline-block;
    box-shadow: 0 3px 0 #245390;
	
}
.express_btn:hover{
    text-decoration: none;
    background-color: #245390;
}
.login_btn{
	float: right;
	text-align: center;
	background-color: #ff720a;
    margin: 5px 10px 0;
    border: medium none;
    border-radius: 4px;
    padding: 2px 7px;
    box-shadow: 0 3px 0 #9b5513;
  
}
.login_btn:hover{
    background-color: #ff440a;
    text-decoration: none;
}
.norton_lk{
	width: 82px;
	height: 44px;
	display: block;
	float: right;
}
/*--------------Заголовки------------*/
h1{
	font-weight: 700;
    color: #006e94;
    font-size: 36px;
    line-height: 1.1;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}
h2{
	font-weight: 600;
    color: #006e94;
    font-size: 35px;
    line-height: 1.1;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom:10px;

}
h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 20px;
}
h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 10px;
}
.title1{
	margin-top: 46px;
	margin-bottom: 10px;
}
.title2{
	margin-top: 10px;
	margin-bottom:20px;
}
.title3{
	margin-top: 20px;
	margin-bottom:10px;
}

/*-----------------------content------------*/
.opportun_list, .works_list{
	display: table;
	width: 100%;
}
.opportun_list{
	padding-top: 25px;
}
	.opportun_list li{
		padding:6px 0 18px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	.opportun_list li:last-child{
		border-bottom: none;
	}
.opportun_list span, .works_list span{
	display: table-cell;
	vertical-align: middle;
	color:#636363;
	font-family: 'Open Sans', sans-serif;
}
.type_list1 span{
	color: #fff;
}
	.opportun_desk{
		padding: 0 10px;
		font-size: 16px;
		font-weight: 500;
	}
	[class^="opportun_icon"], [class^="works_icon"]{
		width: 49px;
		height: 49px;
		border:2px solid #fff;
		border-radius: 50%;
		margin-right: 10px;
		vertical-align: middle;
		text-align: center;
	}
	[class^="opportun_icon"]{
		width: 49px;
		height: 49px;
	}
	.opportun_icon1{
	   background: url(../images/icon/icon_click.png) 50% 50% no-repeat #ff5825;
	}
	.opportun_icon2{
		background: url(../images/icon/icon_search.png) 50% 50% no-repeat #ff5825;
	}
	.opportun_icon3{
		background: url(../images/icon/icon_profile.png) 50% 50% no-repeat #ff5825;
	}
	.opportun_icon4{
		background: url(../images/icon/icon_lock.png) 50% 50% no-repeat #ff5825;
	}
	.opportun_icon5{
		background: url(../images/icon/clock_white_icon.png) 50% 50% no-repeat #ff5825;
	}
	.opportun_icon6{
		background: url(../images/icon/thumb_white_icon.png) 50% 50% no-repeat #ff5825;
	}

.main_select_box{
	margin-top: 5em;
}
	.main_select_left, .main_select_right{
		width: 48%;
	}
.primary_bl{
	padding: 62px 0 30px;
	position: relative;
}
.primary_bl:after, .security_bl:after,
.security_bl_type:after, .contacts_bl:after{
	content: "";
	width:0;
	height: 0;
	position: absolute;
	bottom: -53px;
	left: 50%;
	margin-left: -28px;
	z-index: 9;
}
.primary_bl:after{
	border: 28px solid transparent;
	border-top: 26px solid #006e94;
}
.security_bl:after, .security_bl_type:after, .contacts_bl:after{
	border: 28px solid transparent;
	border-top: 26px solid #f0f0f0;
}
.primary_text{
	padding-top: 80px;
	line-height: 2;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 200;
}
.primary_img{
	float: right;
	width: 150px;
	display: block;
	margin-left: .5em;
}
.lead{
	font-size: 21px;
	font-weight: 200;
	line-height: 1.1;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}
 .security_bl{
 	padding: 62px 0 30px;
 	position: relative;
 }
	 .security_icon_box{
	 	width: 200px;
	 }
 .advantages_list li{
 	line-height: 24px;
    font-size: 17px;
    padding: 5px 10px 20px 41px;
    background: url("../images/icon/check_blue.png") no-repeat left 6px rgba(0, 0, 0, 0);
 }
 .small{font-size: 90%;line-height: 2.1;}
 .security_bl_type{
 	position: relative;
 	padding: 62px 0 0;
 }
 .promise_bl{
 	padding: 42px 0 42px;
 }
 .promise_bl_type{
 	padding: 42px 0 30px;
 }
.primary_img_bl{margin-right: 36px;}
.mob_img_bl img{
	max-height: 400px;
}
.promise_img_bl img, .rates_img_bl img{
	max-width: 200px;
	width: 100%;
}
/*---------popup----------*/
#login{
	width: 284px;   
    background: #F2F2F2;
    padding: 40px;
    border: 2px solid #d3d3d3;
  	font-size: 1.2em;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999;
    -webkit-box-shadow: 0px 0px 20px #999;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .popup_box{
  	margin-bottom: 12px;
  }
	 .login_form label{
	 	color: #006e94;
	 	font-size: 13px;
	 	line-height: 1.1;
	 	display: block;
	 	margin-bottom: 2px;
	}
	 .login_form input[type=text]{
	 	background: #FFF;
	    border-bottom: 1px solid #333;
	    border-left: 1px solid #000;
	    border-right: 1px solid #333;
	    border-top: 1px solid #000;
	    color: #b2b2b2;
	    border-radius: 3px 3px 3px 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    font: 13px Arial, Helvetica, sans-serif;
	    padding: 6px 6px 4px;
	}
	.login_popup_btn{
		background-color: #ff720a;
	    border: medium none;
	    border-radius: 4px;
	    padding: 2px 7px;
	    width: 100%;
	    color: #FFF;
	    box-shadow: 0 3px 0 #9b5513;
	    font-size: 16px;
	    line-height: 24px;
	}
.popup_close{
	float: right;
    margin: -28px -28px 0 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.popup_close:hover{
	opacity: 1;
	text-decoration: none;
}
/*=================page works===================*/

	.works_list{
		padding-left: 80px;
		padding-top: 18px;
	}
		.works_list li{
			position: relative;
			padding:29px 0 30px;
			border-bottom: 1px solid rgba(59, 20, 255, 0.15);
		}
		.type_list1 .item_red{
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fe845e), color-stop(50%,#ff5825), color-stop(50%,#ff5825), color-stop(100%,#ff440a))!important;
    		background: -webkit-radial-gradient(center, ellipse cover, #fe845e 0%,#ff5825 50%,#ff5825 50%,#ff440a 100%)!important;
    		background: -o-radial-gradient(center, ellipse cover, #fe845e 0%,#ff5825 50%,#ff5825 50%,#ff440a 100%)!important;
    		background: -ms-radial-gradient(center, ellipse cover, #fe845e 0%,#ff5825 50%,#ff5825 50%,#ff440a 100%);
    		background: radial-gradient(ellipse at center, #fe845e 0%,#ff5825 50%,#ff5825 50%,#ff440a 100%)!important;
		}
		.type_list1 li{
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}
		.works_list li:last-child{
			border-bottom: 0;
		}
			[class^="works_icon"]{
				position: absolute;
				top:13px;
				left: -80px;
				width: 64px;
				height: 64px;
				line-height: 56px;
				background: #139bd9;
		    	background: -moz-radial-gradient(center, ellipse cover, #139bd9 0%, #01709e 100%);
		    	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#139bd9), color-stop(100%,#01709e));
		    	background: -webkit-radial-gradient(center, ellipse cover, #139bd9 0%,#01709e 100%);
		    	background: -o-radial-gradient(center, ellipse cover, #139bd9 0%,#01709e 100%);
		    	background: -ms-radial-gradient(center, ellipse cover, #139bd9 0%,#01709e 100%);
		    	background: radial-gradient(ellipse at center, #139bd9 0%,#01709e 100%)
			}
				[class^="works_icon"] img{
					vertical-align: middle;
				}
			.works_desk{
				font-size: 18px;
				font-weight: 500;
				font-family: 'Open Sans', sans-serif;
			}
/*-------------------contacts page-------------*/
.contacts_bl{
	padding: 0 0 30px;
	position: relative;
}
.contact_img_bl{
	width: 55.5%;
	display: inline-block;
}
.contact_phone_lk{
	color: #636363;
    clear: right;
    padding: 0 0 0 18px;
    display: inline-block;
    background: url("../images/icon/phone_icon.png") no-repeat scroll left 7px rgba(0, 0, 0, 0);
}
.contacts_form .main_form_btn, .works_form .main_form_btn{
	margin-bottom: 0;
}

/*---------------------terms page-------------*/
.terms_list{
	list-style-type: lower-alpha;
	padding-left: 35px;
}

.terms_list li, .terms_type_list li{
	display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 10px;
}
.terms_type_list{
	list-style-type: lower-roman;
}
/*--------------------faq page--------------*/
.faq_list{
	padding-top: 20px;
}
/*--------------installment page---------------*/
.application_bl{padding: 0 15px;}
.install_bl{padding: 42px 0 20px;}
.watch_box{
    position: relative;
    text-align: center;
    margin-top: 20px;
    max-width: 117px;
}
.watch_box span{
	font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 15px;
    color: #fff;
    text-align: left;
}
.installment_title{
	font-size: 28px;
    color: #006e94;
    padding-top: 0.7em;
}
.step_title{
	color: #ff720a;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 700;
    padding: 8px 15px;
    font-family: 'Open Sans', sans-serif;
}
.form_section{
	padding: 2em;
	background-color: #fff;
	border: 1px solid rgba(0, 110, 148, 0.44);
    -webkit-box-shadow: 0 12px 29px rgba(0,110,148, 0.275);
    box-shadow: 0 12px 29px rgba(0,110,148, 0.275);
    -moz-box-shadow: 0 12px 29px rgba(0,110,148, 0.275);
    margin: 1em 0;
}
.form_group{
	margin-bottom: 8px;
}
.control_label{
	width: 33.33333333%;
	text-align: right;
	float: left;
	font-size: 13px;
	line-height: 1.1;
	padding: 7px 15px 0;
	font-weight: 700;
}
.control_bl, .control_type_bl{
	width: 66.66666667%;
	float: right;
}
.control_bl{
	padding: 0 15px;
}

.install_form .main_select .active_option,
.install_form input[type="text"]{
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.install_form .active_option:after{
	width: 34px;
	height: 34px;
}

input[type="text"].w50{
	width: 49%;
	float: left;
}
.w33{
	width: 33.33333333%;%;
	float: left;
	padding: 0 15px;
}
.w80, .w20, .w60{
	float: left;
}
.w60{
	width: 66.66666667%;
	padding: 0 15px;
}
.w80{
	width: 80%;
}
.w20{width: 20%;
}
.show_check_box{
    padding: 5px 12px;
  	color: #555;
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius:0 4px 4px 0;
}
	.install_form .show_input_box{
		border-radius:6px 0 0 6px;
	}
	.show_label{
		display: inline-block;
		font-size: 14px;
		line-height: 1.5;
    	font-weight: 400;
	}
	.show_label:before{
		content: "";
	    width: 14px;
	    height: 14px;
	    position: relative;
	    top: 2px;
	    display: inline-block;
	    background: #c2c2c2;
	    border: 1px solid #b3b3b3;
	    margin-right: 5px;
	}
	input[type="checkbox"]:checked + .show_label:before{
   		background:url(../images/icon/checkbox_arrow.png) 50% 50% no-repeat #c2c2c2;
	}
input[type="text"].w50:first-child{
	margin-right: 8px;
}
.tooltip_focus{
	background-color: #CCF1FF;
}
[class^="tooltip_"]{
	margin-top: 5px;
    color: #555;
    font-size: 13px;
   	line-height: 22px;
    text-indent: 34px;
    box-shadow: 0 2px 9px rgba(0, 0, 2, 0.275);
    background-size: 34px;
    padding: 10px;
    background:url("../images/icon/securelock.png") no-repeat scroll 13px 7px / 24px auto #CCF1FF;
}
#tooltip_aba{
	display: none;
}

.active#tooltip_aba{
	display: block;
}
.control_gray_box{
	background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 20px;
}

.install_form .main_form_btn{
	font-size: 24px;
    padding: 8px 32px 8px 10px;
    margin-bottom: 10px;
}
.install_form .main_form_btn:after{
	right:24px;
}
.install_info{
	font-size: 14px;
	line-height: 16px;
}
.install_form input[type="text"]{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height:20px;
	color:#b2b2b2; 

}
.protected .opportun_list{
	border-top:1px solid #ccc;
	padding-top: 10px;
}
.protected .opportun_list li{
	border-bottom: none;
}
.protected_box{
    position: relative;
    left: -3.5em;
    top: 5.5em;
}
.protected_title{
	padding-top: 72px;
	font-size: 22px;
	font-weight: 600;
}
/*---------------application ready------------*/
.ready_bl{
	padding: 62px 0 30px;
}
.ready_img_box{padding-top: 26px;}
.form_ready{padding-top:28px;}
	.form_ready label{
		font-size: 13px;
		line-height: 1.1;
	    padding-top: 2px;
	    font-weight: 700;
	    margin-bottom: 5px;
	}
	.form_ready input[type="text"]{
		padding: 12px 16px 11px;
		
	}
/*-------------------custom select-------------*/
.main_select {
    width: 100%;
    padding: 0;
  
}
	.form_box{
		margin-bottom: 15px;
	}
.custom_select {
    position: relative;
  }
  .works_form .active_option{
  	 padding: 12px 10px 11px 20px!important;
  }
  .main_select .active_option{
    position: relative;
    padding: 9px 10px 10px 20px;
    text-align: left;
    font-size: 18px;
    line-height: 1.4;
    color: #636363;
    border: 1px solid #8891B0;
    border-radius: 6px;
    background-color: #fff;
   	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.main_select ul {
    background-color: #fff;
    width: 100%;
    z-index: 10;
    -webkit-backface-visibility: hidden;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px solid #8891B0;
    border-left: 1px solid #8891B0;
    border-right: 1px solid #8891B0;
}


	.main_select li {
    	margin:0;
	}
		.main_select li a {
	    	display: block;
	    	padding-left: 20px;
	    	color: #636363;
	    	padding: 5px 15px;
		}
		.main_select li a:hover{
			color:#fff;
			background-color: #2b9ee7;
		}
.custom_select.active .dropdown {
    display: block;

}
	.active_option:after {
	    content: "";
	    display: inline-block;
	    width: 45px;
	    height:45px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    background: url(../images/icon/select_arrow.png) 50% 50% no-repeat;
	}
.dropdown {
    position: absolute;
    top: 100%;
    display: none;
}
.main_form_btn{
	width: 100%;
	background-color: #ff720a;
	font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #fff;
    padding: 8px 63px 8px 30px;
    text-transform: uppercase;
    white-space: normal;
    position: relative;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 3px 0 #9b5513;
    margin-bottom: 30px;
}
.main_form_btn:after{
	content: "";
	display: block;
	position: absolute;
	width: 33px;
	height: 18px;
	background: url(../images/icon/main_form_btn.png) 0 0 no-repeat; 
    top:50%;
	right:42px;
	margin-top: -9px;
}
.works_form .main_form_btn:after{
	right:24px;
}
/*-----------Form----------*/
input[type="checkbox"], input[type="radio"] {
    display: none;
}
.works_form input[type=text]{
	 padding: 12px 16px 11px;
}

input[type=text]{
	border: 1px solid #8891B0;
    color: #636363;
    width: 100%;
    padding: 9px 16px;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 6px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.input_type{
	background: url(../images/icon/lock_icon.png) 2% 50% no-repeat #fff;
	padding-left: 35px!important;
}


::-webkit-input-placeholder {color:#636363;font-size: 18px; font-family:'Open Sans', sans-serif;font-weight: 300;}
::-moz-placeholder          {color:#636363;font-size: 18px; font-family:'Open Sans', sans-serif;font-weight: 300;}
:-moz-placeholder           {color:#636363;font-size: 18px; font-family:'Open Sans', sans-serif;font-weight: 300;}
:-ms-input-placeholder      {color:#636363;font-size: 18px; font-family:'Open Sans', sans-serif;font-weight: 300;}

.contacts_form label{
	display:block;
    margin-bottom: 5px;
    font-weight: 700;
}
.contacts_form input[type=text], .contacts_form input[type="email"]{
	display: block;
	width: 100%;
  	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.main_select:focus, input[type=text]:focus, input[type="email"]:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.policy_form .main_form_btn{
	margin-bottom:10px;
}
.contacts_form .main_form_btn{
	width:345px;
}
.contacts_form .main_form_btn:after{
	right:15px;
}
.policy_form .main_form_btn:after{
	right:24px;
}
.contacts_form label.radio_label{
	display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    cursor: pointer;
    color:#333;
    font-size: 14px;
    line-height: 20px;
}
.radio_label:before{
	content: "";
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    display: inline-block;
    background: #f0f0f0;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
input[type="radio"]:checked + .radio_label:before{
   background:url(../images/icon/radio_arrow.png) 50% 50% no-repeat #f0f0f0;
}
.contacts_form textarea{
	display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    resize:vertical;
    height:110px;
}
/*---------------------*/
p{
	margin-bottom: 10px;
}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb36{margin-bottom: 36px;}
.mb62{margin-bottom: 62px;}
.pt2{padding-top: 2px;}
.pt42{padding-top: 42px;}
.pt50{padding-top: 50px;}
/*====================>footer<==================*/
.footer_copyright_bl{
	padding: 10px 0;
}
	.footer_copyright_bl a{
		color: #fff;
		line-height: 2.3;
	}
.footer_nav{
	padding: .5em 0;
}
	.footer_nav_list{
		margin-right: -15px;
	}
	 .footer_nav_list > li{
	 	display: block;
	 	float: left;
	 }
		 .footer_nav_list > li > a{
		 	padding: 10px 15px;
		 	display: block;
		 	color: #fff;
		 }